.nav-button {
    justify-content: center;
    .nav-button__button {
    padding-bottom: 50px;
    list-style: none;
    display: inline-flex;
    gap: 8px;
        .nav-button__box {
         height: 38px;
         border-width: 0;
        border-radius: 4px;
        background-color: #f5f4fa;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        font-family: "Roboto", sans-serif;
        padding: 6px 24px;
        /* transition-property: box-shadow;
        transition-duration: 250ms;
         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
        animation-duration: 3000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        &:focus,
        &:hover {
         animation-play-state: paused;
         background-color: var(--blue);
         color: #ffffff;
         box-shadow: 0px 2px 2px 0px #0000001f;
         box-shadow: 0px 1px 2px 0px #00000014;
         box-shadow: 0px 3px 1px 0px #0000001a;
         animation-name: changeBgColor;
       
        @keyframes changeBgColor {
    0% {
        background-color: var(--blue);
    }

    50% {
        background-color: #2196f3;
    }

    100% {
        background-color: var(--blue);
    }
        }
    
            }







        }
}
}