*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header {
    border-bottom: 1px solid #ececec;
}

body {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    background-color: $white;
    margin: auto;
}
    h1,
    h2,
    h3,
    h4,
    p,
    ul {
        margin: 0;
        padding: 0;  }
    .container {
            max-width: 480px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin: 0px;
        }
    
   

    @media screan and (min-width: 768px) and (max-width: 1200px) {
        .container {
            max-width: 768px;
            margin: 0 auto;
            background-clip: padding-box;
        }
    }

    @media screan and (min-width: 1200px) {
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 215px;
            padding-right: 215px;
        }
    }

