*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header {
    border-bottom: 1px solid #ececec;
}

body {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    background-color: $white;
    max-width: 1600px;
    margin: auto;

    .container {
        max-width: 1200px;
        min-width: 320px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .main > .container {
        flex-direction: column;
        align-content: center;
    }
    h1,
    h2,
    h3,
    h4,
    p,
    ul {
        margin: 0;
        padding: 0;
    }
    @media screan and (max-width: 480px) {
        .container {
            width: 320px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin: 0px;
        }
    }

    @media screan and (min-width: 768px) and (max-width: 1200px) {
        .container {
            max-width: 768px;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
            background-clip: padding-box;
        }
    }

    @media screan and (min-width: 1200px) {
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 215px;
            padding-right: 215px;
        }
    }
}
