.footer {
    background-color: $dark;
    max-width: 480px;
    display: flex;
    color: $white;
    margin-top: 60px;
}
.footer__list {
    // margin-left: 0;
    // margin-right: 0;
   
    display: flex;
    flex-direction: column;
    
}
.footer__logo {
    @include font-styles(24px, 700, 0.03em);
    line-height: 1.19em;
    font-family: $fonttwo;
    text-decoration: none;
    color: $black;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: $dark;
    }
    .footer__logo--web {
        color: $blue;
    }
}
.footer--white {
    color: $white;
}

.footer__address {
    @include font-styles(14px, 400, 0.03em);
    line-height: 1.71em;
    width: 246px;
    height: 81px;
    font-family: $font;
    margin-top: 20px;
    font-style: normal;
}
.footer__address--contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    list-style: none;
    font-family: $font;
}
.footer__address--list {
    line-height: 1.14em;
    letter-spacing: 0.02em;
    list-style: none;
    padding-top: 9px;
}
.footer__address--link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer__social {
    margin-left: 70px;
}
.footer__social--heading {
    padding-top: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
}
.footer__social--list {
    list-style: none;
}
.footer__social--svg {
    width: 44px;
    height: 44px;
    background-color: #ffffff1a;
    display: flex;
    border-radius: 50%;
    fill: #afb1b8;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--blue);
        cursor: pointer;
    }
    .footer__social--img {
        margin: auto;
        fill: $white;
    }
}

.footer__social h5 {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.13em;
    font-weight: 700;
}
.footer__social ul {
    display: flex;
    gap: 10px;
}

.footer__newsletter {
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white;
}
.footer__newsletter--heading {
    padding-top: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
}
.footer__newsletter--form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.footer__newsletter--input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    margin-left: 78px;
    background: $dark;
    color: rgba(255, 255, 255, 0.6);
}

.footer__newsletter--button {
    background-color: $blue;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88rem;
    letter-spacing: 0.06em;
    color: $white;
    margin-left: 12px;
}
.footer__newsletter--icon {
    fill: $white;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer {
        height: 463px;
        &__list {
            display: flex;
            flex-direction: row;
            gap: 144px;
        }
    }
}
//     .footer{
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//     }

//     .footer__nav{
//         max-width: 768px;
//         margin: 0 auto;
//     }

//     .footer__logo{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .footer__icons{
//         margin-left: 0;
//     }

//     .footer__social{
//         margin-left: 24px;
//     }

//     .footer__newsletter{
//         margin-right: 144px;
//     }

//     .footer__newsletter--form{
//         margin-top: 30px;
//     }

//     .footer__button{
//         margin-left: 140px;
//     }
// }

// @media screen and (min-width: 1200px){
//     .footer{
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//     }

//     .footer__nav{
//         max-width: 1200px;
//         margin: 0 auto;
//         padding-bottom: 30px;
//     }

//     .footer__logo{
//         display: inline-flex;
//     }

//     .footer__icons{
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//     }

.footer__social {
    padding-top: 15px;
    padding: 0;
}

.footer__newsletter {
    margin-top: 12px;
    margin-left: 72px;
    padding-top: 33px;
}

.footer__newsletter--form {
    text-align: left;
}

.footer__address {
    font-size: 26px;
    text-align: left;
    padding: 0px;
}

.footer__button {
    margin-left: 24px;
}

.footer__input {
    width: 358px;
    left: 815px;
    top: 2787px;
}

.footer__btn {
    margin-top: 72px;
    margin-left: 12px;
}

.footer__newsletter {
    display: flex;
}

.footer__header {
    display: flex;
    flex-direction: column;
    padding-top: 37px;
}

.footer__street {
    text-align: left;
}

.footer__icons {
    margin-left: 54px;
}

.footer__paragraph {
    text-align: left;
}

.footer__paragraph--left {
    margin-left: 55px;
}
