
.list{
    .list__header {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        margin: 0 auto;
        margin-bottom: 50px;
        }
.list__img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style:none;
    flex-wrap: wrap;
    gap:30px;
.list__img--box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   }
.list__img--box > .list__img--box--label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    width: 370px;
    padding: 27px 90px;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
}
    }
}