.item-main {
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    background-color: $dark1;
    width: 100%;
    min-width: 304px;

    &__title {
        flex: block;
        @include font-styles(44px, 900, 0.06em);
        line-height: 1.36em;
        text-transform: uppercase;
        color: $white;
        font-weight: 900;
        width: 696px;
        height: 120px;
        text-align: center;
    }

    &__box {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        border-width: 0;
        background-color: #3086d2;
        @include font-styles(16px, 700, 0.06em);
        line-height: 1.87;
        text-align: center;
        color: $white;
        cursor: pointer;
        font-family: $font;
        width: 200px;
        height: 50px;
        margin-top: 30px;
        margin-left: 200px;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            cursor: pointer;
            background-color: $blue;
        }
    }

   @media screen and (min-width: 320px) and (max-width: 767px){
        .item-main{
            max-width: 767px;
            margin: 0 auto;
            background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/imgmobile@1x.jpg");
            background-size: cover;
        }

        @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            .item-main{
                background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/imgmobile@2x.jpg");
           
            }
        }
    }
     @media screen and (min-width: 768px) and (max-width: 1199px){
                .item-main{

            max-width: 1199px;
            margin: 0 auto;
            background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/imgtablet@1x.jpg");
            background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .item-main{

              background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/imgtablet@2x.jpg");
          
            }
        }
    }

    @media screen and (min-width: 1200px){
        .item-main{

            max-width: 1600px;
            margin: 0 auto;
            background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/imgdesktop@1x.jpg");
            background-size: cover;
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
         .item-main{
                background-image: linear-gradient(
            0deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/imgdesktop@2x.jpg");
           
            }
        }
    }}}
