.container--header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation {
        display: flex;
        margin-left: 0;
        margin-right: 0;

        .navigation__logo {
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19em;
            letter-spacing: 0.03em;
            font-family: $fonttwo;
            text-decoration: none;
            color: $black;
            margin: 0;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
                color: $dark;
            }
            .navigation__logo--web {
                color:$blue;
            }
        }
    }
     @media (max-width: 768px) {
        .container--header {
            width: 320px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin: 0px;
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .container--header {
            max-width: 768px;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
            background-clip: padding-box;
        }
    }

    @media (min-width: 1024px) {
        .container--header {
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 215px;
            padding-right: 215px;
        }
    }
}
