.container--header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation {
        display: flex;
        margin-left: 0;
        margin-right: 0;

        .navigation__logo {
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19em;
            letter-spacing: 0.03em;
            font-family: $fonttwo;
            text-decoration: none;
            color: $black;
            margin: 0;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
                color: $dark;
            }
            .navigation__logo--web {
                color:$blue;
            }
        }
    }
    @media screen and (min-width: 768px) {
        .header {
          &__container {
            padding: 26px 15px 26px 15px;
            align-items: center;
          }
          &__block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          &__mobile {
            display: none;
          }
          &__navigation {
            list-style: none;
            display: flex;
            margin: 0;
            gap: 60px;
            padding: 0;
          }
          &__point {
            display: block;
            @include font-styles(14px, 500, 0.02em);
            line-height: 1.14;
          }
          &__contact {
            @include set-flex(row, center, center);
            @include font-styles(14px, 500, 0.02em);
            gap: 10px;
            line-height: 1.2;
            color: $grey;
            font-style: normal;
          }
        }
      }
      @media screen and (min-width: 1200px) {
        .header {
          &__container {
            width: 1200px;
            padding: 25px 0 24px 0;
            gap: 93px;
          }
          &__navigation {
            list-style: none;
            display: flex;
            margin: 0;
            gap: 46px;
            padding: 0;
          }
          &__block {
            display: flex;
            flex-direction: row;
            gap: 50px;
            padding: 0 0 0 278px;
            margin: 0;
          }
        }
      }
}
