@media (min-width: 380px) and (max-width: 768px) {
    .lorem {
        margin: 0, auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        min-width: 380px;
    }
    .lorem__list {
        margin-bottom: 30px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px, 15px;
    }
    .lorem__text {
        @include font-styles(14px, 400, 0.03em);
        font-family: $font;
        line-height: 1.71rem;
        color: grey1;
        text-align: left;
        padding-left: 25px;
        padding-right: 15px;
        min-width: 380px;
    }
    .lorem__header {
        padding-top: 30px;
        @include font-styles(14px, 700, 0.3em);
        text-align: center;
        width: 380px;
        font-family: $font;
        line-height: 1.14em;
        text-transform: uppercase;
        color: #212121;
    }
    .lorem__img {
        @include set-flex(column, center, center);
        width: 380px;
        height: 120px;
        border-radius: 4px;
        background-color: $team;
    }
    .lorem__icon {
        width: 54.83px;
        height: 60.66px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .lorem {
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        min-width: 768px;
    }
    .lorem__list {
        flex-basis: calc((100% - 2 * 15px) / 2);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .lorem__text {
        @include font-styles(14px, 400, 0.03em);
        font-family: $font;
        line-height: 1.71rem;
        color: $grey1;
        text-align: left;
        padding-left: 15px;
        min-width: 354px;
    }
    .lorem__header {
        padding-top: 30px;
        @include font-styles(14px, 700, 0.3em);
        text-align: center;
        width: 354px;
        font-family: $font;
        line-height: 1.14em;
        text-transform: uppercase;
        color: #212121;
    }
    .lorem__img {
        @include set-flex(column, center, center);
        width: 354px;
        height: 120px;
        border-radius: 4px;
        background-color: $team;
    }
    .lorem__icon {
        width: 65.32px;
        height: 70px;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {
    .lorem {
        @include set-flex(row, center, center);
        gap: 30px;
        min-width: 1200px;
        padding-top: 94px;
    }

    .lorem__text {
        font-family: $font;
        @include font-styles(14px, 400, 0.03em);
        line-height: 1.71rem;
        color: $grey1;
        text-align: justify;
        flex-basis: calc((100% - 2 * 15px) / 4);
        margin-top: 10px;
    }
    .lorem__header {
        text-align: left;
        width: 270px;
        font-family: $font;
        @include font-styles(14px, 700, 0.3em);
        line-height: 1.14em;
        text-transform: uppercase;
        color: $dark1;
        padding-top: 30px;
    }
    .lorem__img {
        display: flex;
        max-width: 354px;
        height: 120px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: $team;
    }
    .lorem__icon {
        margin-bottom: 30px;
        margin-top: 25px;
    }
    .lorem__list {
        margin: 0px;
        width: 270px;
        height: 120px;
        background-color: #f5f4fa;
        margin-bottom: 30px;
        list-style: none;
    }
}
