@media (min-width: 320px) and (max-width: 768px) {
    .section {
        padding-top: 60px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
@media (min-width: 1200px) and (max-width: 1600px) {
    .section {
        padding-left: 215px;
        padding-right: 215px;
    }
}
