*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header {
    border-bottom: 1px solid #ececec;
}
body {
    font-family:$font;
    font-style: normal;
    font-weight: 500;
    background-color:$white;
    width: 1600px;
    margin: auto;
}
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}
