$grey1: #757575;
$blue: #2196f3;
$white: #fff;
$black: #000;
$dark: #2f303a;
$grey: #e5e5e5;
$greytwo: #646464;
$greythree:#546464;
$team: #f5f4fa;
$dark1: #212121;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
//  font family
$font: "Roboto", sans-serif;
$fonttwo: "Raleway", sans-serif;
